body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url("bookshelf-bg.jpg"); /* billede som ligger i static mappen*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Georgia', serif;

    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    color : white;
}

#chatBox {
    background-color: transparent;
    width: 90%;
    max-width: 500px;
    min-height: 800px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 20px;

    overflow: hidden; /* Skjul scrollbaren */
    -ms-overflow-style: none; /* Skjul scrollbar i Internet Explorer */
    scrollbar-width: none; /* Skjul scrollbar i Firefox */
}

.chatBox::-webkit-scrollbar {
    display: none; /* Skjul scrollbar i Webkit-browsere (Chrome, Safari, Edge) */
}


#messages {
    height: 600px;
    overflow-y: auto;
    margin-bottom: 20px;
    color: white;
}

.message {
    margin-bottom: 15px;
}

.user-message {
    font-weight: bold;
    color: darkgoldenrod;
}

.gemini-message {
}

#inputField {
    width: calc(100% - 22px);
    padding: 10px;
    font-size: 1rem;
    border-radius: 10px;
    border: 1px solid #ccc;
}

#sendButton {
    margin-top: 1em;
    padding: 10px 20px;
    background-color: #7a5c36;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.typing-indicator {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

#sendButton:hover {
    background-color: #a0723b;
}

.typing-indicator span {
    width: 8px;
    height: 8px;
    margin: 0 4px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    animation: bounce 1.2s infinite ease-in-out;
}

.typing-indicator span:nth-child(2) {
    animation-delay: 0.2s;
}
.typing-indicator span:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes bounce {
    0%, 80%, 100% {
        transform: scale(0);
    }
    40% {
        transform: scale(1);
    }
}
